:root {
  --primary-title-color: #ffffff;
  --secondary-title-color: #212121;
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --third-text-color: #2196f3;
  --accent-color: #2196f3;
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.overline {
  outline: 1px solid tomato;
}

.container {
  width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
}

body {
  font-family: "roboto", sans-serif;
  letter-spacing: 0.03em;
}

button {
  font-family: "roboto", sans-serif;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.list {
  list-style: none;
}

/* HEADER */

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-title {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}

.primary-logo {
  color: var(--accent-color);
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  margin-left: auto;
}

.contacts-item {
  display: inline-block;
}

.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list {
  display: flex;
  margin-left: auto;
}

.navigation-item {
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation-link {
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.navigation-contact {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.contacts-item-icon {
  fill: currentColor;
  margin-right: 10px;
}

.navigation-contact:hover,
.navigation-contact:focus {
  color: var(--accent-color);
}

.navigation-contact:hover .contacts-item-icon,
.navigation-contact:focus .contacts-item-icon {
  color: var(--accent-color);
  fill: var(--accent-color);
}

/* Hero */

.hero {
  max-width: 1600px;
  text-align: center;
  padding: 200px 0;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
  text-transform: uppercase;
}

.hero-button {
  width: 200px;
  height: 50px;
  border: 0px;
  border-radius: 4px;

  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);

  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--secondary-text-color);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
  color: var(--primary-title-color);
}

/*  */

.section {
  padding: 94px 0;
}

.fitures {
  display: flex;
}

.fitures-item {
  width: 270px;
  margin-right: 30px;
}

.fitures-item:nth-child(4n) {
  margin-right: 0;
}

.fitures-icon {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;

  display: flex;
  justify-content: center;
  align-items: center;
}

.fitures-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

.fitures-description {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.works {
  padding-top: 0;
}

.works-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
}

.works-container {
  display: flex;
}

.team-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  justify-content: center;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-item {
  margin-right: 30px;
  background-color: var(--primary-title-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-item:nth-child(4n) {
  margin-right: 0;
}

.works-item {
  margin-right: 30px;
}

.works-item:nth-child(3n) {
  margin-right: 0;
}

.people {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-description {
  padding: 30px 0;
}

.people-description {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--primary-title-color);
}

.social-item + .social-item {
  margin-left: 10px;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.team-section {
  background-color: #f5f4fa;
}

/* Clients */

.clients-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  justify-content: center;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
}

.clients-link:hover .clients-logo,
.clients-link:focus .clients-logo {
  fill: var(--accent-color);
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients-item + .clients-item {
  margin-left: 30px;
}

.clients-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 106px;
  height: 60px;

  fill: #afb1b8;
}

/* Footer */

footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-adress {
  display: flex;
  flex-direction: column;
  width: 231px;
  margin-right: 70px;
}

.footer-navigation-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.footer-navigation-contact:hover,
.footer-navigation-contact:focus {
  color: var(--accent-color);
}

.footer-title {
  display: inline-block;
  margin-bottom: 20px;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

.footer-item {
  display: block;
  margin-bottom: 9px;
}

.footer-item:last-child {
  margin-bottom: 0;
}

.adress {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.adress:hover,
.adress:focus {
  color: var(--accent-color);
}

.footer-social {
  display: flex;
  flex-direction: column;
}

.social-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  width: 145px;
  height: 16px;
  left: 516px;
  top: 2751px;

  color: var(--primary-title-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.footer-social-link:hover .footer-social-icon,
.footer-social-link:focus .footer-social-icon {
  fill: var(--primary-title-color);
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: var(--primary-title-color);
}

/* Вторая страница */

.button-container {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.filter {
  min-width: 73px;
  border: 0px;
  border: transparent;
  border-radius: 4px;
  padding: 6px 22px;

  background-color: #f5f4fa;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  cursor: pointer;
}

.filter-item {
  margin-right: 8px;
}

.filter-item:nth-child(5n) {
  margin-right: 0px;
}

.filter:hover,
.filter:focus {
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.card {
  padding: 20px 24px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card-item {
  display: flex;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
}

.card-link {
  display: flex;
  flex-direction: column;
  width: 370px;

  border: 1px solid #eeeeee;
}

.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-item:nth-last-child(3n + 1) {
  margin-right: 0px;
}

.card-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.card-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
}

.card-title-description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
